data scienc end of year part 4

In [1]:
import numpy as np
import pandas as pd

In [14]:
# importing the data sets for alone


df_alone_person1=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Evyatar Cohen\Evyatar636771054555711409Alone.csv')
df_alone_person2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Nofar Social_Nuero\Nofar636759796290435160Alone.csv')
df_alone_person3=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Oriya Social_Nuero\Oriya636759806131350399Sync.csv')
df_alone_person4=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Orya Kalmanovitz\OryaB636771082736601528Alone.csv')
df_alone_person5=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Revital Marbel\Revital636770955999435879Alone.csv')
df_alone_person6=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Shahar Terner\Sachar636771047408504303Alone.csv')
df_alone_person7=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Shelly Social_Nuero\Shelly636759788383205274Alone.csv')
df_alone_person8=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Yael Hagai\Yael636771061659067649Alone.csv')
df_alone_person9=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Yoel Raz\Yoel636760922573364655Alone.csv')
df_hand_right=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\HandRight.csv')

In [15]:
df_alone_person1

,Time,Frame ID,Hand Type,# hands,Position X,Position Y,Position Z,Velocity X,Velocity Y,Velocity Z,...,Yaw,Wrist Pos X,Wrist Pos Y,Wrist Pos Z,Elbow pos X,Elbow Pos Y,Elbow Pos Z,Grab Strenth,Grab Angle,Pinch Strength
0,518.8087,149620,left,1,-97.60160,164.1213,42.812550,104.2589,-491.6730,-55.42755,...,1.661706,-166.7207,164.8320,27.585470,-378.1662,65.89330,-69.90282,0.0,0.741855,0.0
1,518.8252,149622,left,1,-95.78062,157.6353,42.180840,148.9683,-351.7386,-36.32422,...,1.623222,-165.4907,155.6419,29.710370,-380.3233,52.92441,-55.71872,0.0,0.827916,0.0
2,518.8418,149623,left,1,-94.39360,154.6338,41.931710,161.6958,-349.9117,-29.04277,...,1.602898,-164.3658,151.5701,31.050590,-381.7444,48.55032,-47.27909,0.0,0.920401,0.0
3,518.8587,149625,left,1,-92.02553,150.6723,42.101190,117.3475,-187.1781,24.42598,...,1.567605,-162.2663,144.6214,33.945770,-383.4688,40.27151,-30.72728,0.0,1.034603,0.0
4,518.8749,149627,left,1,-89.31953,148.1826,42.670650,155.3344,-135.6337,35.87055,...,1.535920,-159.4586,138.6087,36.681950,-381.0906,29.07133,-17.01065,0.0,1.166705,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4521,593.7177,158254,left,1,-44.79453,123.7657,-6.241947,274.4463,106.7892,125.05260,...,1.476095,-114.5244,107.5486,-6.354107,-354.6525,41.16571,45.73993,0.0,0.401728,0.0
4522,593.7343,158256,left,1,-40.77390,126.7342,-3.452266,223.5294,209.7239,160.24900,...,1.484591,-110.5008,110.7256,-3.791958,-351.3217,53.68426,55.64309,0.0,0.190267,0.0
4523,593.7509,158257,left,1,-38.56184,127.6858,-2.086977,254.9331,109.6613,157.34590,...,1.489703,-108.3443,111.9989,-2.676469,-349.8930,59.75835,58.19042,0.0,0.042665,0.0
4524,593.7681,158259,left,1,-35.88303,132.9386,0.526575,185.8687,204.9822,154.04880,...,1.489702,-105.4344,116.3043,0.041351,-346.9033,66.47016,63.19174,0.0,0.000000,0.0
4525,593.7840,158261,left,1,-33.63328,139.4063,2.912675,119.7440,382.6135,141.81010,...,1.484309,-102.6475,120.6218,2.738251,-343.8961,69.92101,66.05376,0.0,0.000000,0.0

In [16]:
# adding the right hand


df_alone_person1=df_alone_person1.join(df_hand_right,rsuffix='_')
df_alone_person2=df_alone_person2.join(df_hand_right,rsuffix='_')
df_alone_person3=df_alone_person3.join(df_hand_right,rsuffix='_')
df_alone_person4=df_alone_person4.join(df_hand_right,rsuffix='_')
df_alone_person5=df_alone_person5.join(df_hand_right,rsuffix='_')
df_alone_person6=df_alone_person6.join(df_hand_right,rsuffix='_')
df_alone_person7=df_alone_person7.join(df_hand_right,rsuffix='_')
df_alone_person8=df_alone_person8.join(df_hand_right,rsuffix='_')
df_alone_person9=df_alone_person9.join(df_hand_right,rsuffix='_')

In [17]:
# deleting rows with null values


df_alone_person1=df_alone_person1.dropna('index','any')
df_alone_person2=df_alone_person2.dropna('index','any')
df_alone_person3=df_alone_person3.dropna('index','any')
df_alone_person4=df_alone_person4.dropna('index','any')
df_alone_person5=df_alone_person5.dropna('index','any')
df_alone_person6=df_alone_person6.dropna('index','any')
df_alone_person7=df_alone_person7.dropna('index','any')
df_alone_person8=df_alone_person8.dropna('index','any')
df_alone_person9=df_alone_person9.dropna('index','any')

In [18]:
df_alone_person9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2250 entries, 0 to 2249
Data columns (total 44 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Time              2250 non-null   float64
 1    Frame ID         2250 non-null   int64
 2    Hand Type        2250 non-null   object
 3    # hands          2250 non-null   int64
 4    Position X       2250 non-null   float64
 5    Position Y       2250 non-null   float64
 6    Position Z       2250 non-null   float64
 7    Velocity X       2250 non-null   float64
 8    Velocity Y       2250 non-null   float64
 9    Velocity Z       2250 non-null   float64
 10   Pitch            2250 non-null   float64
 11   Roll             2250 non-null   float64
 12   Yaw              2250 non-null   float64
 13   Wrist Pos X      2250 non-null   float64
 14   Wrist Pos Y      2250 non-null   float64
 15   Wrist Pos Z      2250 non-null   float64
 16   Elbow pos X      2250 non-null   float64
 17   Elbow Pos Y      2250 non-null   float64
 18   Elbow Pos Z      2250 non-null   float64
 19   Grab Strenth     2250 non-null   float64
 20   Grab Angle       2250 non-null   float64
 21   Pinch Strength   2250 non-null   float64
 22  Time_             2250 non-null   float64
 23   Frame ID_        2250 non-null   int64
 24   Hand Type_       2250 non-null   object
 25   # hands_         2250 non-null   int64
 26   Position X_      2250 non-null   float64
 27   Position Y_      2250 non-null   float64
 28   Position Z_      2250 non-null   float64
 29   Velocity X_      2250 non-null   float64
 30   Velocity Y_      2250 non-null   float64
 31   Velocity Z_      2250 non-null   float64
 32   Pitch_           2250 non-null   float64
 33   Roll_            2250 non-null   float64
 34   Yaw_             2250 non-null   float64
 35   Wrist Pos X_     2250 non-null   float64
 36   Wrist Pos Y_     2250 non-null   float64
 37   Wrist Pos Z_     2250 non-null   float64
 38   Elbow pos X_     2250 non-null   float64
 39   Elbow Pos Y_     2250 non-null   float64
 40   Elbow Pos Z_     2250 non-null   float64
 41   Grab Strenth_    2250 non-null   float64
 42   Grab Angle_      2250 non-null   float64
 43   Pinch Strength_  2250 non-null   float64
dtypes: float64(38), int64(4), object(2)
memory usage: 791.0+ KB

In [7]:
# importing the data sets for sync


df_sync_person1_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Evyatar Cohen\Evyatar636771053639929594Sync.csv')
df_sync_person2_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Nofar Social_Nuero\Nofar636759797397919664Sync.csv')
df_sync_person3_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Oriya Social_Nuero\Oriya636759806131350399Sync.csv')
df_sync_person4_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Orya Kalmanovitz\OryaB636771084494502229Sync.csv')
df_sync_person5_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Revital Marbel\Revital636770957894370062Sync.csv')
df_sync_person6_part1=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Shahar Terner\Sachar636771046527112972Sync.csv')
df_sync_person7_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Shelly Social_Nuero\Shelly636759789526313406Sync.csv')
df_sync_person8_part1=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Yael Hagai\Yael636771060699529085Sync.csv')
df_sync_person9_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Yoel Raz\Yoel636760923490742912Sync.csv')

In [8]:
df_sync_person1_part1.head()

,Time,Frame ID,Hand Type,# hands,Position X,Position Y,Position Z,Velocity X,Velocity Y,Velocity Z,...,Yaw,Wrist Pos X,Wrist Pos Y,Wrist Pos Z,Elbow pos X,Elbow Pos Y,Elbow Pos Z,Grab Strenth,Grab Angle,Pinch Strength
0,153.5306,107537,right,2,77.94024,254.7147,-7.674313,-0.480022,-59.95172,127.34810,...,-0.332276,101.0865,198.4052,27.67238,248.6154,17.15779,115.17400,0.0,0.0,0.0
1,153.5306,107537,left,2,-103.68820,221.1642,3.092919,-2.858919,-180.74000,55.11667,...,0.866406,-133.3421,158.3205,14.84969,-268.8730,-49.14569,44.19444,0.0,0.0,0.0
2,153.5476,107539,right,2,78.28185,253.5882,-5.193746,24.038670,-51.37317,143.18080,...,-0.332286,101.4179,197.1837,29.99536,250.0403,15.59908,114.90930,0.0,0.0,0.0
3,153.5476,107539,left,2,-103.54540,218.4241,4.356668,10.185880,-126.31100,68.19558,...,0.884464,-133.7134,155.7733,15.84225,-269.5829,-51.50067,44.97860,0.0,0.0,0.0
4,153.5644,107541,right,2,78.85633,252.8531,-2.370064,43.635580,-31.83131,169.02340,...,-0.325577,101.7099,196.2052,32.58978,251.4731,14.51754,115.24890,0.0,0.0,0.0

In [9]:
# importing the data sets for spontanius


df_spontan_person1_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Evyatar Cohen\Evyatar636771052727603804Spontan.csv')
df_spontan_person2_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Nofar Social_Nuero\Nofar636759795182793299Spontan.csv')
df_spontan_person3_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Oriya Social_Nuero\Oriya636759804404113837Spontan.csv')
df_spontan_person4_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Orya Kalmanovitz\OryaB636771083605535985Spontan.csv')
df_spontan_person5_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Revital Marbel\Revital636770957038873193Spontan.csv')
df_spontan_person6_part1=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Shahar Terner\Sachar636771045591258071Spontan.csv')
df_spontan_person7_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Shelly Social_Nuero\Shelly636759787508979097Spontan.csv')
df_spontan_person8_part1=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Yael Hagai\Yael636771059544754823Spontan.csv')
df_spontan_person9_part2=pd.read_csv(r'C:\Users\nechd\Desktop\data_science_part4\extraFiles\Training\Yoel Raz\Yoel636760921663075813Spontan.csv')

In [10]:
df_spontan_person1_part1.head(1)

,Time,Frame ID,Hand Type,# hands,Position X,Position Y,Position Z,Velocity X,Velocity Y,Velocity Z,...,Yaw,Wrist Pos X,Wrist Pos Y,Wrist Pos Z,Elbow pos X,Elbow Pos Y,Elbow Pos Z,Grab Strenth,Grab Angle,Pinch Strength
0,64.40649,97265,left,2,-86.51942,171.7137,-8.232538,-22.53298,-150.8182,-73.03683,...,1.234598,-152.1056,146.5586,3.271789,-386.4925,55.26245,16.62144,0.0,0.620941,0.0

In [11]:
df_spontan_person1_part1_r=df_spontan_person1_part1.loc[df_spontan_person1_part1[' Hand Type']=="right"]
df_spontan_person1_part1_l=df_spontan_person1_part1.loc[df_spontan_person1_part1[' Hand Type']=="left"]

In [12]:
df_spontan_person1_part1_r

,Time,Frame ID,Hand Type,# hands,Position X,Position Y,Position Z,Velocity X,Velocity Y,Velocity Z,...,Yaw,Wrist Pos X,Wrist Pos Y,Wrist Pos Z,Elbow pos X,Elbow Pos Y,Elbow Pos Z,Grab Strenth,Grab Angle,Pinch Strength
1,64.40649,97265,right,2,143.8183,183.1156,-12.084150,53.414660,-405.3372,82.53658,...,-0.672157,196.7576,183.7971,34.498820,407.6624,78.40553,123.1678,0.0,0.259270,0.0
3,64.42323,97266,right,2,144.3550,179.8730,-11.506780,62.595360,-378.1917,67.33972,...,-0.677727,197.4556,182.1488,34.862010,409.7145,82.42125,126.7913,0.0,0.239628,0.0
5,64.43949,97268,right,2,145.3437,173.7979,-10.382150,75.662040,-323.6155,65.01888,...,-0.684075,198.4987,178.5398,35.749660,412.0920,87.12312,133.0703,0.0,0.209995,0.0
7,64.45606,97270,right,2,146.7997,169.6465,-9.474767,102.866500,-213.1961,66.77661,...,-0.690902,199.5158,177.1651,36.522610,404.2419,77.77022,144.4960,0.0,0.173054,0.0
9,64.47277,97272,right,2,147.0096,165.9677,-8.690377,1.123758,-204.8689,33.72565,...,-0.692619,198.9943,175.7093,37.453320,393.7456,70.01337,157.2478,0.0,0.156171,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9045,139.32080,105898,right,2,142.0139,243.9058,-38.002770,208.248100,-197.5993,-191.59070,...,-0.446427,176.0436,204.0353,8.600197,307.2610,24.39978,120.1245,0.0,0.877021,0.0
9047,139.33740,105900,right,2,145.7996,239.1396,-41.146870,200.000400,-259.9248,-205.78800,...,-0.338166,175.8499,201.5408,9.791794,308.1925,23.64160,122.7605,0.0,0.909076,0.0
9049,139.35400,105902,right,2,150.4467,234.9389,-43.686080,263.750800,-217.3341,-149.60940,...,-0.247094,176.8038,200.5583,11.288910,309.5925,25.33742,127.8624,0.0,0.872805,0.0
9051,139.37050,105904,right,2,154.1597,231.7985,-45.856530,218.114500,-153.2701,-114.18340,...,-0.190117,178.2004,201.2574,12.256520,313.4116,31.14909,133.5236,0.0,0.558543,0.0
9053,139.38710,105906,right,2,157.8290,229.6685,-47.398800,215.750500,-109.4430,-77.13631,...,-0.145978,179.6888,202.9594,13.209660,310.4298,29.00976,133.9279,0.0,0.555878,0.0

In [13]:
df_spontan_person1_part1_combo=df_spontan_person1_part1_l.concat(df_spontan_person1_part1_r,rsuffix='_')
df_spontan_person1_part1_combo.head(1)

,Time,Frame ID,Hand Type,# hands,Position X,Position Y,Position Z,Velocity X,Velocity Y,Velocity Z,...,Yaw_,Wrist Pos X_,Wrist Pos Y_,Wrist Pos Z_,Elbow pos X_,Elbow Pos Y_,Elbow Pos Z_,Grab Strenth_,Grab Angle_,Pinch Strength_
0,64.40649,97265,left,2,-86.51942,171.7137,-8.232538,-22.53298,-150.8182,-73.03683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN